<md-content ng-cloak layout-padding layout-align="center center">
<!--  <div style="height: 300px; width: 100%;">
  <mms-map></mms-map>
</div>-->
<md-whiteframe class="md-whiteframe-10dp" layout-padding layout="column" layout-align="center center" >
<md-content layout="column" layout-align="center center">

    <p>View/Edit Member</p>

    <div layout-padding>
    <md-autocomplete flex required
    md-input-name="autocompleteField"
    ng-disabled="ctrl.isDisabled"
    md-no-cache="ctrl.noCache"
    md-selected-item="ctrl.selectedItem"
    md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
    md-search-text="ctrl.searchText"
    md-selected-item-change="ctrl.selectedItemChange(item)"
    md-items="item in ctrl.querySearch(ctrl.searchText)"
    md-item-text="item.value"
    md-min-length="0"
    md-floating-label="Pick an Member"
    md-menu-class="autocomplete-custom-template">
      <md-item-template>
        <span class="item-title">
          <span> {{item.firstName}} {{item.lastName}} </span>
        </span>

    <!-- <span class="item-metadata">
          <span class="item-metastat">
            <strong>{{item.watchers}}</strong> watchers
          </span>
          <span class="item-metastat">
            <strong>{{item.forks}}</strong> forks
          </span>
        </span>-->
      </md-item-template>
    </md-autocomplete>
  </div>
    <div layout-padding>
    <md-button ng-disabled="!ctrl.selectedItem.value"
        ng-click="ctrl.redirect('members/' + ctrl.selectedItem.id)" class="md-fab md-primary md-hue-2" aria-label="View Member">
        <md-icon md-font-set="material-icons"> person </md-icon>
      </md-button>
    </div>
</md-content>
</md-whiteframe>



		<md-whiteframe layout-padding class="md-whiteframe-10dp" layout="column" layout-align="center center" >

      <p> New Member </p>
      <form name="memberForm" layout="row" layout-padding>

        <div>
      <md-input-container class="md-block">
        <input required name="firstName"
				 placeholder="First Name" ng-model="ctrl.member.firstName">
			</md-input-container>

      <md-input-container class="md-block">
				<input required name="lastName"
				 placeholder="Last Name" ng-model="ctrl.member.lastName">
			</md-input-container>
    </div>
    <div>
      <md-input-container class="md-block">
				<input required type="number" name="phoneNumber"
				 placeholder="Phone Number" ng-model="ctrl.member.phoneNumber">
			</md-input-container>

      <md-input-container class="md-block">
				<input required type="email" name="email"
				 placeholder="Email" ng-model="ctrl.member.email">
			</md-input-container>
    </div>
  </form>


    <div layout-padding>
				<md-button ng-disabled="memberForm.$invalid" class="md-fab md-primary md-hue-2" ng-click="ctrl.addMember(ctrl.member)"
				aria-label="Add Member">
        <md-icon md-font-set="material-icons"> person_add </md-icon>
      </md-button>
      </div>
</md-whiteframe>

</md-content>
