<div map-lazy-load="https://maps.google.com/maps/api/js">
	<!-- <div id="panel">
        <input ng-click="ctrl.hideMarkers()" type=button value="Hide Markers">
        <input ng-click="ctrl.showMarkers()" type=button value="Show All Markers">
        <input ng-click="ctrl.deleteMarkers()" type=button value="Delete Markers">
      </div> -->
<ng-map default-style="false" style="height:300px; width: 540px" center="42.7339, 25.4858" zoom=7
				ng-mousemove="ctrl.updateMap()" on-click="ctrl.addMarker()" on-center-changed="ctrl.centerChanged()">
    <marker ng-repeat="pos in ctrl.markers" position="{{pos.lat}}, {{pos.lng}}"></marker>
  </ng-map>
<div>
