<div layout-padding ng-cloak layout-align="center center">
<md-whiteframe class="md-whiteframe-10dp" flex layout="column" style="width: 700px;" layout-align="center center" >
  <br/>
  <md-content class="md-no-momentum">
		<div layout="row">
			<div>
    		<md-input-container class="md-icon-float md-block">
      		<!-- Use floating label instead of placeholder -->
      		<label>First Name</label>
					<md-icon md-font-set="material-icons"> perm_identity </md-icon>
      		<input ng-model="ctrl.member.firstName" type="text">
    		</md-input-container>
			</div>
			<div>
				<md-input-container class="md-icon-float md-block">
					<label>Middle Name</label>
					<input ng-model="ctrl.member.middleName" type="text">
				</md-input-container>
			</div>
			<div>
				<md-input-container class="md-icon-float md-block">
					<label>Last Name</label>
					<input ng-model="ctrl.member.lastName" type="text">
				</md-input-container>
			</div>
		</div>

		<div layout="row">
    	<md-input-container md-no-float class="md-block">
				<label>Phone Number</label>
				<md-icon md-font-set="material-icons"> phone </md-icon>
      	<input ng-model="ctrl.member.phoneNumber" type="text">
    	</md-input-container>

    	<md-input-container class="md-block">
      	<!-- Use floating placeholder instead of label -->
				<label>Email</label>
				<md-icon md-font-set="material-icons"> email </md-icon>
      	<input ng-model="ctrl.member.email" type="email" ng-required="true">
    	</md-input-container>

			<md-input-container md-no-float class="md-block">
				<label>Birth date</label>
				<md-datepicker ng-model="ctrl.member.birthDate"></md-datepicker>
			</md-input-container>
		</div>

		<div layout="row">
			<div flex="20">
				<md-input-container md-no-float class="md-block">
					<label>City</label>
					<md-icon md-font-set="material-icons"> home </md-icon>
					<input ng-model="ctrl.member.city" type="text">
				</md-input-container>
			</div>
			<div flex="60">
    		<md-input-container md-no-float class="md-block">
					<label>Address</label>
      		<input ng-model="ctrl.member.address" type="text">
    		</md-input-container>
			</div>
		</div>

		<md-input-container class="md-block">
      <label>Biography</label>
			<md-icon md-font-set="material-icons"> textsms </md-icon>
      <textarea ng-model="ctrl.member.bio" md-maxlength="150" rows="5" md-select-on-focus></textarea>
    </md-input-container>
  </md-content>
</md-whiteframe>
</div>
