<div flex layout-padding ng-cloak layout-align="center center">
<md-whiteframe class="md-whiteframe-10dp" flex layout="column" style="width: 750px;" layout-align="center center" >

  <form name="editMember" ng-submit="ctrl.submit()">
  <md-content style="width: 700px;" class="md-no-momentum">
		<div layout="row">
			<div>
    		<md-input-container class="md-icon-float md-block">
      		<!-- Use floating label instead of placeholder -->
      		<label>First Name</label>
					<md-icon md-font-set="material-icons"> person </md-icon>
      		<input ng-model="ctrl.member.firstName" type="text">
    		</md-input-container>
			</div>
			<div>
				<md-input-container class="md-icon-float md-block">
					<label>Middle Name</label>
					<input ng-model="ctrl.member.middleName" type="text">
				</md-input-container>
			</div>
			<div>
				<md-input-container class="md-icon-float md-block">
					<label>Last Name</label>
					<input ng-model="ctrl.member.lastName" type="text">
				</md-input-container>
			</div>
		</div>

		<div layout="row">
    	<md-input-container md-no-float class="md-block">
				<label>Phone Number</label>
				<md-icon md-font-set="material-icons"> phone </md-icon>
      	<input ng-model="ctrl.member.phoneNumber" type="text">
    	</md-input-container>

    	<md-input-container class="md-block">
      	<!-- Use floating placeholder instead of label -->
				<label>Email</label>
				<md-icon md-font-set="material-icons"> email </md-icon>
      	<input ng-model="ctrl.member.email" type="email" ng-required="true">
    	</md-input-container>

			<md-input-container md-no-float class="md-block">
				<label>Birth date</label>
				<md-datepicker ng-model="ctrl.member.birthDate"></md-datepicker>
			</md-input-container>
		</div>

		<div layout="row">
      <div flex="60">
    		<md-input-container md-no-float class="md-block">
					<label>Address</label>
          <md-icon md-font-set="material-icons"> home </md-icon>
      		<input ng-model="ctrl.member.address" type="text">
    		</md-input-container>
			</div>


      <div flex="30">
            <form ng-submit="$event.preventDefault()">
              <div layout="row">
              <md-autocomplete flex required
              md-input-name="autocompleteField"
              ng-disabled="ctrl.isDisabled"
              md-no-cache="ctrl.noCache"
              md-selected-item="ctrl.member.city"
              md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
              md-search-text="ctrl.searchText"
              md-selected-item-change="ctrl.selectedItemChange(item)"
              md-items="item in ctrl.querySearch(ctrl.searchText)"
              md-item-text="item.name"
              md-min-length="0"
              md-floating-label="Pick an City"
              md-menu-class="autocomplete-custom-template">
                <md-item-template>
                  <span class="item-title">
                    <span> {{item.name}} </span>
                  </span>
              </div>
                </md-item-template>
              </md-autocomplete>
            </form>
        </div>
		</div>

		<md-input-container class="md-block">
      <label>Biography</label>
			<md-icon md-font-set="material-icons"> textsms </md-icon>
      <textarea ng-model="ctrl.member.bio" md-maxlength="150" rows="5" md-select-on-focus></textarea>
    </md-input-container>

<div layout="row" layout-wrap flex>


    <div flex-xs flex="50">
      <p> Skills </p>
    <div class="demo-select-all-checkboxes" flex="50" ng-repeat="item in ctrl.skills">
      <md-checkbox ng-checked="ctrl.isMember(ctrl.member.skills, item.id)"
       ng-click="ctrl.toggle(item, ctrl.member.skills)">
        {{ item.name }}
      </md-checkbox>
    </div>
    </div>

    <div flex-xs flex="50">
      <p> Gear </p>
    <div class="demo-select-all-checkboxes" flex="50" ng-repeat="item in ctrl.gear">
      <md-checkbox ng-checked="ctrl.isMember(ctrl.member.gear, item.id)"
       ng-click="ctrl.toggle(item, ctrl.member.gear)">
        {{ item.name }}
      </md-checkbox>
    </div>
    </div>

    <!-- <div layout="column" flex-xs flex="25">
      <p> Events </p>

    <div class="demo-select-all-checkboxes" flex="25" ng-repeat="item in ctrl.memberEvents">
      <md-checkbox ng-checked="ctrl.isMember(ctrl.member.events, item.id)"
       ng-click="ctrl.toggle(item, ctrl.member.events)">
        {{ item.name }}
      </md-checkbox>
    </div>
    </div>

    <div layout="column" flex-xs flex="25">
      <p> Courses </p>

    <div class="demo-select-all-checkboxes" flex="25" ng-repeat="item in ctrl.memberCourses">
      <md-checkbox ng-checked="ctrl.isMember(ctrl.member.courses, item.id)"
       ng-click="ctrl.toggle(item, ctrl.member.courses)">
        {{ item.name }}
      </md-checkbox>
    </div>
    </div> -->

</div>

  </md-content>
  <div class="col-sm-offset-2 col-sm-8">
						<md-button ng-disabled="editMember.$invalid" class="md-raised md-primary" ng-click="ctrl.update(ctrl.member)"
						aria-label="Save">
            <md-icon md-font-set="material-icons"> save </md-icon>
          </md-button>

						<md-button class="md-raised md-warn" ng-click="ctrl.showConfirm($event)"
						aria-label="Delete">
            <md-icon md-font-set="material-icons"> delete_forever </md-icon>
          </md-button>
					</div>
  </form>
  <div ng-if="ctrl.status" id="status">
    <b layout="row" layout-align="center center" class="md-padding">
      {{ctrl.status}}
    </b>
  </div>

  <div style="width: 700px;" layout-margin>
    <p> Events </p>
    <mdt-table mdt-row="{
                        'data': ctrl.memberEvents,
                        'table-row-id-key': 'id',
                        'column-keys': ['name', 'date', 'city.name']
                        }">
      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="true">Name</mdt-column>
        <mdt-column align-rule="right" column-sort="true">Date</mdt-column>
        <mdt-column align-rule="right" column-sort="true">City</mdt-column>
      </mdt-header-row>
    </mdt-table>
  </div>

  <div style="width: 700px;" layout-margin>
    <p> Courses </p>
    <mdt-table mdt-row="{
                        'data': ctrl.memberCourses,
                        'table-row-id-key': 'id',
                        'column-keys': ['name', 'date', 'city.name']
                        }">
      <mdt-header-row>
        <mdt-column align-rule="left" column-sort="true">Name</mdt-column>
        <mdt-column align-rule="right" column-sort="true">Date</mdt-column>
        <mdt-column align-rule="right" column-sort="true">City</mdt-column>
      </mdt-header-row>
    </mdt-table>
  </div>

</md-whiteframe>



<pre>member = {{ctrl.member | json}}</pre>
</div>
